<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
	rel="stylesheet">

</head>
<body
	style="background-color: #FBF2CF; font-family: 'Source Sans Pro', sans-serif;">
	<!-- start navbar -->
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand " href="/">Product Management System</a>
		</div>
		</div>
	</nav>

	<!-- end navbar  -->
	<div class="container p-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">

						<h4 class="text-center text-dark">Add Products Form</h4>

						<form th:action="@{/save_products}" method="post">
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Enter
									Product Name </label> <input required type="text" class="form-control"
									id="productName1" aria-describedby="product" name="productName">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Description
								</label> <input required type="text" class="form-control"
									id="description1" aria-describedby="description"
									name="description">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Price
								</label> <input required type="number" class="form-control" id="price1"
									aria-describedby="quantity" name="price">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Quantity
								</label> <input required type="number" class="form-control"
									id="quantity1" aria-describedby="quantity" name="quantity">
							</div>
							<button type="submit" class="btn btn-success">Add
								Product</button>
						</form>
						<a href="/search" class="btn btn-secondary mt-2">Cancel</a>

					</div>

				</div>

			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous">
			
		</script>
		<script>
			function myFunction() {
				let name = document.getElementById("productName1");
				let description = document.getElementById("description1");
				let price = document.getElementById("price1");
				let quantity = document.getElementById("quantity1");

				if (name != '' && description != '' && price != ''
						&& quantity != '') {
					window.location.href = "https://google.com";
					console.log("ran");
				}

			}
		</script>
</body>
</html>